@{
    ViewBag.Title = "Error";
}

<div>
    <a class="navlink" href="/Home">Back To Home</a>
    |
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</div>

<div class="text-center">
    <h1>Error</h1>
</div>

@TempData["ErrorMessage"]