@{
    ViewData["Title"] = "School Db";
}

<div class="text-center">
    <h1 class="display-4">School Db</h1>
</div>

<div>
    <a class="navlink" href="/Teacher/List">Teachers</a>
     | 
    <a class="navlink" href="/Student/List">Students</a>
     | 
    <a class="navlink" href="/Class/List?semester=9&semester=1">Classes</a>
</div>