@model IEnumerable<HTTP5112_Cumulative_3.Models.Student>
@{
    ViewBag.Title = "Student List";
}

<div>
    <a class="navlink" href="/Home">Back To Home</a>
</div>

<div class="text-center">
    <h1 class="display-4">Students Page</h1>
</div>

<div id="containerlist">
    <h2>List of Students</h2>
    <form action="/Student/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var Student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Student/Show/@Student.StudentId">@Student.StudentFname @Student.StudentLname</a></div>
        </div>
    }
</div>