@model HTTP5112_Cumulative_3.Models.Student
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Home">Back To Home</a>
    |
    <a class="navlink" href="/Student/List?semester=9&semester=1">Back To Students</a>
</div>

<div class="text-center">
    <h1 class="display-4">Students Page</h1>
</div>

<div id="containershow">
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <p>Student Number: @Model.StudentNumber</p>
    <p>Enrollment Date: @Model.EnrolDate</p>
</div>